.primeiro{
    background-color: aliceblue;
    text-align: center;
}
.segundo{
    background-color: beige;
    text-align: left;
}
.terceiro{
    background-color: lightpink;
    text-align: right;
}

#principal{
    text-align: center;
}
#secundario{
    text-align: center;
    background-color: lightgreen;
}