body{
    padding-bottom: 500px;
}
div{
    margin-bottom: 10px;
}

div input,
div label{
    display: block;
}
.select_gender>select{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.radio label,
.radio input,
.radio span{
    display: inline-block;
}

