@charset "UTF-8";

/* Mobile firt */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: #000000 url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.638);
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
}

img{
    display: block;
    margin: auto;
}

#phone {display: block;}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}
